@font-face {
  font-family: 'Epilogue';
  src: local('Epilogue'), url('./../assets/fonts/Epilogue.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --epilogue-font: "Epilogue", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Adwaita Sans"," Cantarell", 'Ubuntu', "Roboto", "Noto", "Helvetica", "Arial", sans-serif; 
  --orange-cream: rgba(246, 223, 208, 1);
  --muted-red: rgba(102, 46, 55, 1);
  --light-muted-red: rgba(148, 87, 97, 1);
  --muted-pink: rgba(206, 116, 131, 1);
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

* button {
  app-region: no-drag;
}

main {
  flex: 1;
}

.page {
  height: 100%;
  width: 100%;
}

title-bar {
  width: 100%;
}

.title-bar {
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  button {
    height: 20px;
    font-size: 0.7em;
    font-weight: 900;
    margin-left: 5px;
    width: 25px;
    padding: 2px;
  }
}

.title-bar #min {
  font-size: 0.8em;
}

/* ---------- Login page ---------- */
#login-page {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
  align-items: center;
  background-image: url("./../assets/images/login-background.png");
  app-region: drag;
  border: 2px solid var(--light-muted-red);
  border-radius: 9px;
}

#login-page * {
  font-family: var(--epilogue-font);
}

#music-note {
  position: absolute;
  right: 5px;
  opacity: 50%;
  transform: scale(33%);
  mix-blend-mode: overlay;
}

#login-page-star {
  position: absolute;
  right: 120px;
  bottom: 35px;
}

#login-title-bar button {
  background-color: transparent;
  border: 1px solid var(--muted-pink);
  color: var(--muted-pink);
}

#login-title-bar button:hover {
  background-color: var(--muted-pink);
  color: var(--muted-red);
}

#login-btn {
  height: 20px;
  font-size: 1.2em;
  font-weight: 800;
  background-color: transparent;
  color: var(--orange-cream);
  border: 0;
  margin-top: -30px;
  /* Bottom border growing from left to right animation */
  div {
    position: relative;
  }
  div::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
  }
  div:hover::after {
    transform: scaleX(1);
  }
}

#login-btn .offset {
  position: relative;
  top: 5px;
  transition: 
    top 0.5s ease;
}

#login-btn:hover .offset {
  top: 0;
}